*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 4.375rem;
    display: inline-flex ;
    position: sticky;
    top: 0;
    background-color: black;
    justify-content: space-between;
    z-index: 2;
}


.linkAIndex{ 
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logoMain{ 
    width: 4.375rem;
    height: 4.375rem;
}

.oliviaRodrigo{
    color:  rgb(81, 44, 168);
    margin-top: 1rem;
    margin-left: 0.625rem;
    font-size: 1.25rem;
}

@media  (max-width: 400px){
    .oliviaRodrigo{
        font-size: 0.8rem;
    }
}

.navbar{
    height: 4.375rem;
    display: flex ;
    margin-top: 0.25rem ;

}

.container-fluid{
    margin-top: -0.5rem;
}

.navbar-toggler{
    color: rgb(81, 44, 168);
}


.navbar-nav{
    list-style: none ;
    display: flex;
    text-decoration: none;      
}

.itemsNav{
    display: flex;
    padding: 0.8rem;
    background-color: black;
    color: rgb(81, 44, 168);
    align-items: center;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 2rem;
}

.itemsNav:hover{
    background-color: rgb(81, 44, 168);
    color: black;
    transition-duration: 0.4s;
}

main{
    display:grid ;
    background-color: rgb(81, 44, 168);
    margin-top: -0.4rem;
}

.carousel-inner,
.carousel-item{
    height: 20em;
    margin-top: 2rem;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cuerpoMain{
    margin-top: 2rem;
    align-items: center;
    text-align: center;
    color: black;
}

.quienEs{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

.biografia{
    width: auto;    
    height: auto;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
}

.escucharMas{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.linkTD{
    text-decoration: none;
}

.imgTD{
    width: 80%;       
    margin-bottom: 1rem;
  
}

.tituloTD{
    color: black;
    margin-bottom: 1rem;    
    font-size: 1.5rem;
    font-weight: bold;
}

footer{
    width: 100%;
    height: 4.375rem;
    background-color: black;
    display: inline-flex ;   
    justify-content: right;
    align-items: center;
    position: sticky;
    bottom: 0;
    padding: 0.5rem;
}

.footerIcons{
    width: 2rem;
    height: 2rem;
    background-color: rgb(81, 44, 168);
    margin: 0.5rem;
}


/* ------------ DISCOS ------------ */


.mainPages{
    display: flex;
    background-color: rgb(81, 44, 168);
    margin-top: -0.4rem;
    text-align: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    width: 100%;
}


.tituloPages{
    font-size: 2.7rem;
    color: black;
    margin-bottom: 2rem;
    font-weight: bolder;
}

.sectionDiscos{
    display: flex;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    margin-left: -1rem;
}

@media (max-width: 670px){
    .sectionDiscos{
        flex-direction: column;
    }  
}

.listSour{
    margin: 1rem;
    margin-right: 7rem;
    color: black;
}

@media (max-width: 765px){
    .listSour{
        margin-right: 1rem;
    }  
}

.listGuts{
    margin: 1rem;
    color: black;
}

.titulosDiscos{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.itemsSongs{
    width: 15rem;
    list-style: none;
    background-color: black;
}

.itemsSongs:hover{
    scale: 1.1;
    transition: 0.5s;
    box-shadow: 0rem 0rem 1rem white;
}

.linkToSongs{
    display: flex;
    padding: 0.5rem;
    margin-top: 0.1rem;
    text-decoration: none;
    color: rgb(81, 44, 168);
    justify-content: center;
}

.itemsSongs:hover{
    background-color: rgb(17, 8, 22);
}

/*------------- TIENDA ---------------*/


.ropa{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.containerRopa{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.cardTienda{
    width: 25rem;
    height: 25rem;
    background-color: black;
    margin: 1.5rem;
    color: rgb(81, 44, 168); 
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 550px){
    .cardTienda{
        width: 20rem;
        height: 20rem;
    }
}

.cardTienda:hover{
    scale: 1.1;
    transition: 0.5s;
    box-shadow: 0rem 0rem 2rem white;
}

.imgTienda{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.precio{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.8s;
    flex-direction: column;
    font-size: 2rem;
}

.precio:hover{
    opacity: 0.9;
}

.pPrecio{
    margin-top: 1.5rem;

}



.descripcionCard{
display: flex;
padding: 1rem 0.1rem 0.1rem 0.1rem;
flex-direction: column;

}


/*------------- FORMAR PARTE ---------------*/


.formFormarParte{
    width: 80%;
    display: flex;
    margin: 1rem;
    justify-content: center;
    margin-top: -1rem;
    margin-bottom: 4rem;
}



.columnasForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 100%;
}

@media (max-width: 985px){
    .formFormarParte{
        flex-direction: column;
    }
    .columnasForm{
        margin: 0rem;
    }
}

.labels{
    color: black;
    width: 15rem;
    height: 1.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.inputs{
    height: 2rem;
    width: 100%;
    margin: 0.3rem;
    border-radius: 1rem;
    border: 0rem;
    text-align: center ;
    color: rgb(81, 44, 168);
    background-color: black;
    font-size: 1rem;
}


.mensaje{
    width: 100%;
    height: 8rem;
    margin: 0.3rem;
    border-radius: 1rem;
    border: 0rem;
    color: rgb(81, 44, 168);
    background-color: black;
    font-size: 1rem;
    resize: none;
    padding: 0.5rem;
}


.botonEnviar{
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0rem;
    color: rgb(81, 44, 168);
    background-color: black;
    font-size: 1rem;
    margin-bottom: 2.88rem;
}

