.linkAIndex{ 
    @include flex(flex, center, center, wrap);
    text-decoration: none;
}

.logoMain{ 
    @include imagenes(4.375rem, 4.375rem, "");
}

.oliviaRodrigo{
    color:  $mainColor;
    margin-top: 1rem;
    margin-left: 0.625rem;
    font-size: 1.25rem;
}