$mainColor: #D7C7E5;
$darkColor: #1A0D26;
$lightColor: rgb(26, 13, 38);

@mixin imagenes($w, $h, $fit){
    width: $w;
    height: $h;
    object-fit: $fit;
}

@mixin flex($display, $jContent, $aItems,$fDirection){
    display: $display;
    justify-content: $jContent;
    align-items: $aItems;
    flex-direction: $fDirection;
}