.nosotros{
    color: $darkColor;
    width: auto;    
    height: auto;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
}

.nosotrosBanner{
    width: 100%;
    height: 40%;
}

.imgNosotros{
    @include imagenes(100%, 40% , cover)
}