.containerRopa{
    @include flex(flex, center, center,"");
    flex-wrap: wrap;
    width: 100%;
}

.cardTienda{
    @include flex(flex, center, center,column);
    width: 25rem;
    height: 25rem;
    background-color: $darkColor;
    margin: 1.5rem;
    color: $mainColor; 
    position: relative;
    transition: 1s;
 

    &:hover{
        transition: 1s;
        box-shadow: 0rem 0rem 2rem $lightColor;
        transform: scale(1.1) rotateY(180deg);
    }
}

.imgTienda{
    @include imagenes(100%, 100%, cover);  
}

.precio{
    @include flex(flex, center, center,column);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $darkColor;
    opacity: 0;
    font-size: 2rem;

    &:hover{
        transform: rotateY(180deg);
        opacity: 0.9;
    }
}

.pPrecio{
    margin-top: 1.5rem;
}

.descripcionCard{
@include flex(flex,"","",column);
padding: 1rem 0.1rem 0.1rem 0.1rem;
}